<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeng.dingtalk.dao.mapper.AcRecordMapper">

    <select id="listAcDataByYearMonth" resultType="com.softeng.dingtalk.excel.AcData">
        SELECT
            u.stu_num as num,
            u.NAME as name,
            sum( a.ac ) as ac,
            GROUP_CONCAT( CONCAT( a.reason, ' :  ', a.ac ) SEPARATOR '\n' ) as reason
        FROM
            `user` u
                INNER JOIN ( SELECT * FROM ac_record WHERE YEAR ( create_time ) = #{year} AND MONTH ( create_time ) = #{month} ) a ON a.user_id = u.id
                AND u.is_deleted = 0
        GROUP BY
            u.id
    </select>

</mapper>