<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeng.dingtalk.dao.mapper.DcSummaryMapper">

    <select id="listDcSummaryDataByYearMonth" resultType="com.softeng.dingtalk.excel.DcSummaryData">
        SELECT
            u.stu_num as stuNum,
            u.name,
            d.salary,
            d.week1,
            d.week2,
            d.week3,
            d.week4,
            d.week5,
            d.total,
            d.ac,
            d.topup as topUp
        FROM
            `user` u
                INNER JOIN ( SELECT * FROM dc_summary WHERE yearmonth = #{yearmonth} ) d ON d.user_id = u.id
                AND u.is_deleted = 0
        ORDER BY
            d.salary DESC
    </select>

</mapper>